@import "tailwindcss";

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f4f6;
}

@media print {
  @page {
    size: A4;
    margin: 0; /* прибирає поля браузера */
  }

  html, body {
    margin: 0 !important;
    padding: 0 !important;
    background: white !important;
  }

  .print-full {
    width: 210mm;
    height: 297mm;
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box;
    page-break-after: always;
    box-shadow: none !important;
    border-radius: 0 !important;
  }
}
